In [1]:
from ml_dcs.config import config # NOQA
import json
import pandas as pd

from ml_dcs.domain.mtsa import MTSAResult

RESULTS_DIR_PATH = "tmp/mtsa-results/20250105-022506"

results_lts = {}

results_1st = {}
results_2nd = {}
results_3rd = {}
results_all = {}

states_m = {}
states_g = {}
states_c = {}

transitions_m = {}
transitions_g = {}
transitions_c = {}

for scenario in ("HC", "AT", "BW", "CM"):
    results_lts[scenario] = []

    results_1st[scenario] = []
    results_2nd[scenario] = []
    results_3rd[scenario] = []
    results_all[scenario] = []

    states_m[scenario] = []
    states_g[scenario] = []
    states_c[scenario] = []

    transitions_m[scenario] = []
    transitions_g[scenario] = []
    transitions_c[scenario] = []

def store_results(scenario: str, data_model: MTSAResult):
    results_lts[scenario].append(data_model.lts)

    results_1st[scenario].append(data_model.compile_step.duration_ms / 1000)
    results_2nd[scenario].append(data_model.compose_step.creatingGameSpace.duration_ms / 1000)
    results_3rd[scenario].append(data_model.compose_step.solvingProblem.duration_ms / 1000)
    results_all[scenario].append(data_model.significant_duration_ms / 1000)

    states_m[scenario].append(data_model.compile_step.environments[0].number_of_states)
    states_g[scenario].append(data_model.compose_step.creatingGameSpace.number_of_states)
    states_c[scenario].append(data_model.compose_step.solvingProblem.number_of_states)

    transitions_m[scenario].append(data_model.compile_step.environments[0].number_of_transitions)
    transitions_g[scenario].append(data_model.compose_step.creatingGameSpace.number_of_transitions)
    transitions_c[scenario].append(data_model.compose_step.solvingProblem.number_of_transitions)

def get_dataframe(scenario: str):
    df = pd.DataFrame({
        "lts": results_lts[scenario],
        "1st": results_1st[scenario],
        "2nd": results_2nd[scenario],
        "3rd": results_3rd[scenario],
        "all": results_all[scenario],
        "S_m": states_m[scenario],
        "S_g": states_g[scenario],
        "S_c": states_c[scenario],
        "D_m": transitions_m[scenario],
        "D_g": transitions_g[scenario],
        "D_c": transitions_c[scenario],
    })
    df.sort_values("all", inplace=True, ascending=False)
    return df

PyTorch Device: cuda

In [2]:
import glob
import os

for path in glob.glob(os.path.join(RESULTS_DIR_PATH, "*.json")):
    with open(path) as f:
        data = json.load(f)
    data_model = MTSAResult(**data)

    if data_model.lts.startswith("ArtGallery"):
        store_results("HC", data_model)
    elif data_model.lts.startswith("AT"):
        store_results("AT", data_model)
    elif data_model.lts.startswith("BW"):
        store_results("BW", data_model)
    elif data_model.lts.startswith("CM"):
        store_results("CM", data_model)

In [3]:
scenario = "HC"
get_dataframe(scenario)

,lts,1st,2nd,3rd,all,S_m,S_g,S_c,D_m,D_g,D_c
247,"ArtGallery（N, 4 room）_000036",31.404,31.305,305.268,367.977,277440,865669,865668,1514240,4777468,2208453
339,"ArtGallery（N, 4 room）_000091",28.316,31.982,303.060,363.358,277440,823014,823013,1514240,4519634,3915331
367,"ArtGallery（N, 4 room）_000010",30.183,31.027,289.071,350.281,277440,831239,831238,1514240,4582080,2207434
327,"ArtGallery（N, 4 room）_000197",28.371,30.757,278.698,337.826,277440,805007,805006,1514240,4427584,2848640
138,"ArtGallery（N, 4 room）_000079",31.258,28.831,268.688,328.777,277440,779429,779428,1514240,4279100,3369598
...,...,...,...,...,...,...,...,...,...,...,...
332,"ArtGallery（N, 2 room）_000167",0.451,0.046,0.205,0.702,1104,798,797,3696,2692,2047
100,"ArtGallery（N, 2 room）_000085",0.451,0.046,0.205,0.702,1104,827,826,3696,2790,1697
438,"ArtGallery（N, 2 room）_000074",0.364,0.071,0.252,0.687,1104,1113,1112,3696,3720,2968
503,"ArtGallery（N, 2 room）_000160",0.426,0.046,0.209,0.681,1104,783,782,3696,2636,1819
497,"ArtGallery（N, 2 room）_000111",0.350,0.062,0.230,0.642,1104,925,924,3696,3112,2536

In [4]:
scenario = "AT"
get_dataframe(scenario)

,lts,1st,2nd,3rd,all,S_m,S_g,S_c,D_m,D_g,D_c
701,"AT（5, 10）_000070",52.989,22.724,144.164,219.877,514098,488005,488004,3328456,3172444,2893334
1444,"AT（5, 10）_000119",53.212,22.117,139.959,215.288,514098,480981,480980,3328456,3130247,2838693
899,"AT（5, 10）_000106",51.196,22.311,141.313,214.820,514098,481153,481152,3328456,3131172,2882024
1020,"AT（5, 10）_000145",53.390,22.144,138.874,214.408,514098,476635,476634,3328456,3103929,2841249
1651,"AT（5, 10）_000072",52.845,21.899,138.721,213.465,514098,478813,478812,3328456,3117113,2864311
...,...,...,...,...,...,...,...,...,...,...,...
727,"AT（2, 3）_000006",0.190,0.015,0.073,0.278,48,48,47,111,109,107
1468,"AT（2, 2）_000004",0.188,0.015,0.071,0.274,35,35,34,73,71,69
32,"AT（2, 3）_000003",0.190,0.015,0.068,0.273,48,49,48,111,111,107
1413,"AT（2, 2）_000003",0.196,0.008,0.063,0.267,35,36,35,73,73,72
582,"AT（2, 2）_000002",0.197,0.015,0.046,0.258,35,36,35,73,73,69

In [5]:
scenario = "BW"
get_dataframe(scenario)

,lts,1st,2nd,3rd,all,S_m,S_g,S_c,D_m,D_g,D_c
45,"BW（5, 5）_000002",13.236,8.967,44.420,66.623,161052,222105,222104,1098078,1446156,1446154
13,"BW（5, 5）_000000",12.405,8.733,44.537,65.675,161052,222105,222104,1098078,1446156,1446155
16,"BW（5, 5）_000001",12.426,8.851,44.035,65.312,161052,222105,222104,1098078,1446156,1446155
22,"BW（5, 4）_000002",6.634,3.694,13.277,23.605,59050,85333,85332,393663,541566,541564
32,"BW（5, 4）_000000",5.529,4.005,13.224,22.758,59050,85333,85332,393663,541566,541565
2,"BW（5, 4）_000001",5.384,3.759,13.379,22.522,59050,85333,85332,393663,541566,541565
41,"BW（5, 3）_000000",2.086,1.457,4.051,7.594,16808,25841,25840,108048,157776,157775
40,"BW（5, 3）_000002",2.280,1.191,3.929,7.400,16808,25841,25840,108048,157776,157774
20,"BW（5, 3）_000001",1.956,1.425,4.018,7.399,16808,25841,25840,108048,157776,157775
19,"BW（4, 5）_000002",1.940,0.926,2.974,5.840,14642,19285,19284,79863,99726,99724
33,"BW（4, 5）_000001",1.661,0.865,3.032,5.558,14642,19285,19284,79863,99726,99725
38,"BW（4, 5）_000000",1.614,0.925,2.954,5.493,14642,19285,19284,79863,99726,99725
5,"BW（4, 4）_000002",1.068,0.427,1.631,3.126,6562,9029,9028,34995,45414,45412
31,"BW（4, 4）_000000",0.925,0.435,1.622,2.982,6562,9029,9028,34995,45414,45413
35,"BW（4, 4）_000001",0.925,0.435,1.595,2.955,6562,9029,9028,34995,45414,45413
39,"BW（5, 2）_000002",0.760,0.308,1.061,2.129,3126,5229,5228,18753,29826,29824
27,"BW（5, 2）_000000",0.673,0.307,1.076,2.056,3126,5229,5228,18753,29826,29825
4,"BW（5, 2）_000001",0.657,0.308,1.059,2.024,3126,5229,5228,18753,29826,29825
43,"BW（4, 3）_000002",0.551,0.223,0.648,1.422,2402,3509,3508,12351,16926,16924
42,"BW（4, 3）_000001",0.529,0.214,0.664,1.407,2402,3509,3508,12351,16926,16925
30,"BW（4, 3）_000000",0.526,0.218,0.632,1.376,2402,3509,3508,12351,16926,16925
21,"BW（3, 5）_000002",0.395,0.087,0.339,0.821,1332,1665,1664,5448,6396,6394
23,"BW（3, 5）_000001",0.364,0.087,0.339,0.790,1332,1665,1664,5448,6396,6395
29,"BW（3, 5）_000000",0.348,0.102,0.339,0.789,1332,1665,1664,5448,6396,6395
6,"BW（4, 2）_000001",0.308,0.071,0.308,0.687,626,997,996,3003,4470,4469
14,"BW（4, 2）_000002",0.324,0.055,0.293,0.672,626,997,996,3003,4470,4468
47,"BW（4, 2）_000000",0.292,0.071,0.277,0.640,626,997,996,3003,4470,4469
24,"BW（3, 4）_000000",0.282,0.066,0.268,0.616,730,949,948,2919,3534,3533
28,"BW（3, 4）_000001",0.277,0.055,0.284,0.616,730,949,948,2919,3534,3533
9,"BW（3, 4）_000002",0.308,0.055,0.252,0.615,730,949,948,2919,3534,3532
15,"BW（3, 3）_000001",0.230,0.031,0.205,0.466,344,473,472,1326,1680,1679
26,"BW（3, 3）_000002",0.245,0.046,0.174,0.465,344,473,472,1326,1680,1678
0,"BW（3, 3）_000000",0.232,0.031,0.189,0.452,344,473,472,1326,1680,1679
10,"BW（3, 2）_000002",0.205,0.024,0.096,0.325,126,189,188,453,618,616
46,"BW（3, 2）_000000",0.190,0.015,0.108,0.313,126,189,188,453,618,617
25,"BW（3, 2）_000001",0.189,0.015,0.102,0.306,126,189,188,453,618,617
1,"BW（2, 5）_000002",0.189,0.015,0.088,0.292,122,145,144,333,366,364
11,"BW（2, 4）_000002",0.189,0.015,0.076,0.280,82,101,100,219,246,244
34,"BW（2, 5）_000001",0.174,0.015,0.091,0.280,122,145,144,333,366,365
37,"BW（2, 5）_000000",0.174,0.015,0.086,0.275,122,145,144,333,366,365
17,"BW（2, 3）_000002",0.189,0.015,0.069,0.273,50,65,64,129,150,148
36,"BW（2, 4）_000000",0.158,0.015,0.087,0.260,82,101,100,219,246,245
12,"BW（2, 4）_000001",0.158,0.015,0.086,0.259,82,101,100,219,246,245
7,"BW（2, 3）_000001",0.158,0.015,0.071,0.244,50,65,64,129,150,149
44,"BW（2, 3）_000000",0.158,0.015,0.071,0.244,50,65,64,129,150,149
8,"BW（2, 2）_000002",0.174,0.015,0.055,0.244,26,37,36,63,78,76
18,"BW（2, 2）_000001",0.159,0.015,0.055,0.229,26,37,36,63,78,77
3,"BW（2, 2）_000000",0.158,0.015,0.055,0.228,26,37,36,63,78,77

In [6]:
scenario = "CM"
get_dataframe(scenario)

,lts,1st,2nd,3rd,all,S_m,S_g,S_c,D_m,D_g,D_c
629,"CM（3, 3）_000113",74.913,31.346,1652.741,1759.000,1362053,911878,70199,5405337,3518741,226035
41,"CM（3, 3）_000086",72.542,30.607,1225.632,1328.781,1362053,911878,70199,5405337,3518741,226035
119,"CM（3, 3）_000105",74.282,32.703,843.652,950.637,1362053,936791,225184,5405337,3696915,714669
595,"CM（3, 3）_000078",72.825,31.883,829.224,933.932,1362053,936791,225184,5405337,3696915,714669
211,"CM（3, 3）_000071",72.660,32.643,823.884,929.187,1362053,936791,225184,5405337,3696915,714669
...,...,...,...,...,...,...,...,...,...,...,...
60,"CM（2, 2）_000014",0.591,0.128,0.427,1.146,3925,3307,1452,10395,8702,3326
516,"CM（2, 2）_000016",0.617,0.143,0.377,1.137,3925,3020,725,10395,7880,1472
280,"CM（2, 2）_000030",0.704,0.118,0.308,1.130,3925,2703,478,10395,7088,904
484,"CM（2, 2）_000023",0.616,0.127,0.372,1.115,3925,3021,726,10395,7881,1473
34,"CM（2, 2）_000027",0.672,0.118,0.307,1.097,3925,2703,478,10395,7088,904