In [7]:
from ml_dcs.config import config  # NOQA
import json
import pandas as pd

from ml_dcs.domain.mtsa import MTSAResult

RESULTS_DIR_PATH = "tmp/mtsa-results/20250105-022506"

results_lts = {}

results_1st = {}
results_2nd = {}
results_3rd = {}
results_all = {}

states_m = {}
states_g = {}
states_c = {}

transitions_m = {}
transitions_g = {}
transitions_c = {}

for scenario in ("HC", "AT", "BW", "CM"):
    results_lts[scenario] = []

    results_1st[scenario] = []
    results_2nd[scenario] = []
    results_3rd[scenario] = []
    results_all[scenario] = []

    states_m[scenario] = []
    states_g[scenario] = []
    states_c[scenario] = []

    transitions_m[scenario] = []
    transitions_g[scenario] = []
    transitions_c[scenario] = []


def store_results(scenario: str, data_model: MTSAResult):
    results_lts[scenario].append(data_model.lts)

    results_1st[scenario].append(data_model.compile_step.max_memory_usage_kb / 1000)
    results_2nd[scenario].append(
        data_model.compose_step.creatingGameSpace.max_memory_usage_kb / 1000
    )
    results_3rd[scenario].append(
        data_model.compose_step.solvingProblem.max_memory_usage_kb / 1000
    )
    results_all[scenario].append(data_model.significant_max_memory_usage_kb / 1000)

    states_m[scenario].append(data_model.compile_step.environments[0].number_of_states)
    states_g[scenario].append(
        data_model.compose_step.creatingGameSpace.number_of_states
    )
    states_c[scenario].append(data_model.compose_step.solvingProblem.number_of_states)

    transitions_m[scenario].append(
        data_model.compile_step.environments[0].number_of_transitions
    )
    transitions_g[scenario].append(
        data_model.compose_step.creatingGameSpace.number_of_transitions
    )
    transitions_c[scenario].append(
        data_model.compose_step.solvingProblem.number_of_transitions
    )


def get_dataframe(scenario: str):
    df = pd.DataFrame(
        {
            "lts": results_lts[scenario],
            "1st": results_1st[scenario],
            "2nd": results_2nd[scenario],
            "3rd": results_3rd[scenario],
            "all": results_all[scenario],
            "S_m": states_m[scenario],
            "S_g": states_g[scenario],
            "S_c": states_c[scenario],
            "D_m": transitions_m[scenario],
            "D_g": transitions_g[scenario],
            "D_c": transitions_c[scenario],
        }
    )
    df.sort_values("all", inplace=True, ascending=False)
    return df

In [8]:
import glob
import os

for path in glob.glob(os.path.join(RESULTS_DIR_PATH, "*.json")):
    with open(path) as f:
        data = json.load(f)
    data_model = MTSAResult(**data)

    if data_model.lts.startswith("ArtGallery"):
        store_results("HC", data_model)
    elif data_model.lts.startswith("AT"):
        store_results("AT", data_model)
    elif data_model.lts.startswith("BW"):
        store_results("BW", data_model)
    elif data_model.lts.startswith("CM"):
        store_results("CM", data_model)

In [9]:
scenario = "HC"
get_dataframe(scenario)

,lts,1st,2nd,3rd,all,S_m,S_g,S_c,D_m,D_g,D_c
339,"ArtGallery（N, 4 room）_000091",2734.318,8201.184,10703.340,10703.340,277440,823014,823013,1514240,4519634,3915331
247,"ArtGallery（N, 4 room）_000036",2746.545,8559.186,9900.972,9900.972,277440,865669,865668,1514240,4777468,2208453
367,"ArtGallery（N, 4 room）_000010",2741.871,8268.958,9561.495,9561.495,277440,831239,831238,1514240,4582080,2207434
327,"ArtGallery（N, 4 room）_000197",2733.241,8033.040,9521.470,9521.470,277440,805007,805006,1514240,4427584,2848640
138,"ArtGallery（N, 4 room）_000079",2736.082,7615.293,9302.031,9302.031,277440,779429,779428,1514240,4279100,3369598
...,...,...,...,...,...,...,...,...,...,...,...
348,"ArtGallery（N, 2 room）_000114",15.324,13.936,14.554,15.324,1104,526,525,3696,1779,903
53,"ArtGallery（N, 2 room）_000055",15.317,13.404,14.173,15.317,1104,443,442,3696,1498,855
304,"ArtGallery（N, 2 room）_000037",15.307,13.152,13.920,15.307,1104,403,402,3696,1365,781
431,"ArtGallery（N, 2 room）_000190",15.292,14.529,15.148,15.292,1104,637,636,3696,2155,1102
486,"ArtGallery（N, 2 room）_000031",15.291,14.540,15.277,15.291,1104,641,640,3696,2167,1191

In [10]:
scenario = "AT"
get_dataframe(scenario)

,lts,1st,2nd,3rd,all,S_m,S_g,S_c,D_m,D_g,D_c
701,"AT（5, 10）_000070",5782.411,6669.615,8420.584,8420.584,514098,488005,488004,3328456,3172444,2893334
899,"AT（5, 10）_000106",5749.400,6619.338,8367.228,8367.228,514098,481153,481152,3328456,3131172,2882024
1651,"AT（5, 10）_000072",5781.176,6583.206,8330.994,8330.994,514098,478813,478812,3328456,3117113,2864311
1444,"AT（5, 10）_000119",5822.662,6612.952,8305.818,8305.818,514098,480981,480980,3328456,3130247,2838693
1020,"AT（5, 10）_000145",5751.166,6563.506,8293.111,8293.111,514098,476635,476634,3328456,3103929,2841249
...,...,...,...,...,...,...,...,...,...,...,...
1413,"AT（2, 2）_000003",8.580,9.154,10.102,10.102,35,36,35,73,73,72
1843,"AT（2, 2）_000000",8.580,9.154,10.099,10.099,35,36,35,73,73,69
582,"AT（2, 2）_000002",8.580,9.154,10.098,10.098,35,36,35,73,73,69
756,"AT（2, 2）_000006",8.580,9.158,10.094,10.094,35,32,31,73,65,57
1468,"AT（2, 2）_000004",8.571,9.145,10.091,10.091,35,35,34,73,71,69

In [11]:
scenario = "BW"
get_dataframe(scenario)

,lts,1st,2nd,3rd,all,S_m,S_g,S_c,D_m,D_g,D_c
45,"BW（5, 5）_000002",1902.822,2844.503,3714.007,3714.007,161052,222105,222104,1098078,1446156,1446154
13,"BW（5, 5）_000000",1904.103,2843.003,3712.811,3712.811,161052,222105,222104,1098078,1446156,1446155
16,"BW（5, 5）_000001",1904.033,2842.463,3712.525,3712.525,161052,222105,222104,1098078,1446156,1446155
32,"BW（5, 4）_000000",700.239,1088.827,1434.814,1434.814,59050,85333,85332,393663,541566,541565
2,"BW（5, 4）_000001",698.759,1086.759,1432.834,1432.834,59050,85333,85332,393663,541566,541565
22,"BW（5, 4）_000002",699.340,1088.722,1429.127,1429.127,59050,85333,85332,393663,541566,541564
20,"BW（5, 3）_000001",194.556,311.157,428.374,428.374,16808,25841,25840,108048,157776,157775
41,"BW（5, 3）_000000",194.218,310.521,428.278,428.278,16808,25841,25840,108048,157776,157775
40,"BW（5, 3）_000002",195.634,314.876,428.047,428.047,16808,25841,25840,108048,157776,157774
19,"BW（4, 5）_000002",150.363,211.594,272.673,272.673,14642,19285,19284,79863,99726,99724
33,"BW（4, 5）_000001",148.523,209.828,272.467,272.467,14642,19285,19284,79863,99726,99725
38,"BW（4, 5）_000000",148.519,209.871,272.402,272.402,14642,19285,19284,79863,99726,99725
35,"BW（4, 4）_000001",69.551,100.379,129.070,129.070,6562,9029,9028,34995,45414,45413
5,"BW（4, 4）_000002",69.984,101.147,128.994,128.994,6562,9029,9028,34995,45414,45412
31,"BW（4, 4）_000000",69.551,100.665,128.966,128.966,6562,9029,9028,34995,45414,45413
27,"BW（5, 2）_000000",40.011,65.060,86.777,86.777,3126,5229,5228,18753,29826,29825
4,"BW（5, 2）_000001",40.012,64.527,86.519,86.519,3126,5229,5228,18753,29826,29825
39,"BW（5, 2）_000002",39.923,64.963,86.306,86.306,3126,5229,5228,18753,29826,29824
43,"BW（4, 3）_000002",29.553,42.918,54.735,54.735,2402,3509,3508,12351,16926,16924
30,"BW（4, 3）_000000",29.627,42.779,54.443,54.443,2402,3509,3508,12351,16926,16925
42,"BW（4, 3）_000001",29.656,42.785,54.378,54.378,2402,3509,3508,12351,16926,16925
21,"BW（3, 5）_000002",17.771,22.361,27.566,27.566,1332,1665,1664,5448,6396,6394
29,"BW（3, 5）_000000",17.862,22.270,27.553,27.553,1332,1665,1664,5448,6396,6395
23,"BW（3, 5）_000001",17.860,22.272,27.547,27.547,1332,1665,1664,5448,6396,6395
6,"BW（4, 2）_000001",13.051,17.527,21.187,21.187,626,997,996,3003,4470,4469
47,"BW（4, 2）_000000",13.052,17.528,21.179,21.179,626,997,996,3003,4470,4469
14,"BW（4, 2）_000002",13.042,17.509,21.159,21.159,626,997,996,3003,4470,4468
9,"BW（3, 4）_000002",13.088,16.257,19.599,19.599,730,949,948,2919,3534,3532
24,"BW（3, 4）_000000",13.049,16.188,19.588,19.588,730,949,948,2919,3534,3533
28,"BW（3, 4）_000001",13.049,16.188,19.581,19.581,730,949,948,2919,3534,3533
26,"BW（3, 3）_000002",11.902,12.108,14.259,14.259,344,473,472,1326,1680,1678
0,"BW（3, 3）_000000",11.901,12.108,14.256,14.256,344,473,472,1326,1680,1679
15,"BW（3, 3）_000001",11.901,12.108,14.248,14.248,344,473,472,1326,1680,1679
10,"BW（3, 2）_000002",9.885,9.815,11.159,11.159,126,189,188,453,618,616
46,"BW（3, 2）_000000",9.885,9.786,11.147,11.147,126,189,188,453,618,617
25,"BW（3, 2）_000001",9.885,9.787,11.145,11.145,126,189,188,453,618,617
1,"BW（2, 5）_000002",9.886,9.395,10.594,10.594,122,145,144,333,366,364
34,"BW（2, 5）_000001",9.886,9.381,10.485,10.485,122,145,144,333,366,365
37,"BW（2, 5）_000000",9.886,9.382,10.482,10.482,122,145,144,333,366,365
11,"BW（2, 4）_000002",8.319,9.103,10.172,10.172,82,101,100,219,246,244
12,"BW（2, 4）_000001",8.319,9.299,10.168,10.168,82,101,100,219,246,245
36,"BW（2, 4）_000000",8.318,9.298,10.159,10.159,82,101,100,219,246,245
17,"BW（2, 3）_000002",8.192,8.882,9.888,9.888,50,65,64,129,150,148
7,"BW（2, 3）_000001",8.191,9.063,9.885,9.885,50,65,64,129,150,149
44,"BW（2, 3）_000000",8.191,8.986,9.876,9.876,50,65,64,129,150,149
8,"BW（2, 2）_000002",8.091,8.702,9.654,9.654,26,37,36,63,78,76
3,"BW（2, 2）_000000",8.091,8.696,9.639,9.639,26,37,36,63,78,77
18,"BW（2, 2）_000001",8.091,8.696,9.629,9.629,26,37,36,63,78,77

In [12]:
scenario = "CM"
get_dataframe(scenario)

,lts,1st,2nd,3rd,all,S_m,S_g,S_c,D_m,D_g,D_c
168,"CM（3, 3）_000012",10104.630,10670.151,11704.193,11704.193,1362053,1148307,724860,5405337,4595762,2677036
339,"CM（3, 3）_000039",10102.854,10674.851,11698.726,11698.726,1362053,1148307,724860,5405337,4595762,2677036
526,"CM（3, 3）_000037",10106.374,10595.396,11617.976,11617.976,1362053,1148306,674721,5405337,4543381,2415632
480,"CM（3, 3）_000021",10101.799,10590.408,11616.515,11616.515,1362053,1148307,674722,5405337,4543382,2415633
397,"CM（3, 3）_000010",10104.944,10592.759,11615.845,11615.845,1362053,1148306,674721,5405337,4543381,2415632
...,...,...,...,...,...,...,...,...,...,...,...
455,"CM（2, 2）_000025",30.210,29.576,31.196,31.196,3925,3020,725,10395,7880,1472
484,"CM（2, 2）_000023",29.979,29.680,31.189,31.189,3925,3021,726,10395,7881,1473
516,"CM（2, 2）_000016",29.980,29.678,31.187,31.187,3925,3020,725,10395,7880,1472
280,"CM（2, 2）_000030",30.217,28.031,29.391,30.217,3925,2703,478,10395,7088,904
34,"CM（2, 2）_000027",30.207,28.047,29.375,30.207,3925,2703,478,10395,7088,904